.saidbar {
  background-color: #222222;
  color: white;
  height: 100vh;
  width: 210px;
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  transition: transform 0.5s ease-in-out;
  overflow: auto;
}
.newsidebar{
  background-color: #222222;
  color: white;
  height: 100vh;
  width: 80px;
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  transition: transform 0.5s ease-in-out;
  overflow: auto;
  display: none;

}
.close {
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out ;
}
.close:hover{
  transform: rotate(180deg);
}
.Manue {
  /* text-align: center; */
  padding-top: 50px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.home {
  list-style: none;
  margin-top: 50px;
}

.active{
  color: #fa5c0e;
  text-decoration: none;
}
.dactive{
  text-decoration: none;
  color: white;

}
.hide{
  display: none;
}
.show{
  display: block;
  transition: transform 1s ease-in-out;
}
.manue{
  transition: transform 0.5s ease-in-out ;

}
.manue:hover{
  transform: rotate(180deg);
}
.cursor {
  display: inline;
  font-size: 40px;
  font-weight: 400;
  color: white;
  animation: blink-animation 0.3s steps(2, start) infinite;
}
@keyframes blink-animation {
  0% {
      opacity: 0;
  }
}