@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.saidbar {
  background-color: #222222;
  color: white;
  height: 100vh;
  width: 210px;
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  transition: transform 0.5s ease-in-out;
  overflow: auto;
}
.newsidebar{
  background-color: #222222;
  color: white;
  height: 100vh;
  width: 80px;
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  transition: transform 0.5s ease-in-out;
  overflow: auto;
  display: none;

}
.close {
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out ;
}
.close:hover{
  transform: rotate(180deg);
}
.Manue {
  /* text-align: center; */
  padding-top: 50px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.home {
  list-style: none;
  margin-top: 50px;
}

.active{
  color: #fa5c0e;
  text-decoration: none;
}
.dactive{
  text-decoration: none;
  color: white;

}
.hide{
  display: none;
}
.show{
  display: block;
  transition: transform 1s ease-in-out;
}
.manue{
  transition: transform 0.5s ease-in-out ;

}
.manue:hover{
  transform: rotate(180deg);
}
.cursor {
  display: inline;
  font-size: 40px;
  font-weight: 400;
  color: white;
  animation: blink-animation 0.3s steps(2, start) infinite;
}
@keyframes blink-animation {
  0% {
      opacity: 0;
  }
}
.btn-home{
  height: 40px;
    width: 125px;
    border-radius: 10px;
    background-color: #fa5c0e;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition:transform 0.3s ease-in-out ;
    &:hover{
      box-shadow: 1px 1px 19px 3px #fa5c0e;
      transform: scale(1.03);

    }
    &:active{
      background-color: #db510b;
    }
}