@media (max-width: 935px) {
    .main{
        flex-wrap: wrap;
    }
    .mycard{
        margin-left: 300px

    }
    .all-logo{
            height: 50px !important;
    }

}
@media (max-width: 760px) {
    .nav-showhide{
        display: none;
    }
    .mobilenav-show-hide{
        display: block;
    }
    .info{
        margin-left: 10px !important;
        margin-top: 16px;
    }
    .main-box{
        margin-left: 10px !important;

    }

}
@media (max-width: 424px) {
    .mycard{
        margin-left: 0px;
        width: 100vw;
        display: flex;
        justify-content: center;

    }

}